{{ define "main" }}
    <h1>{{ .Title }}</h1>
    {{ .Content }}
    <div class="post-card-list">
        {{ range .Pages }}
            <div class="post-card">
                <img src="{{ .RelPermalink }}{{ .Params.featured }}"/>
                <div class="post-card-content">
                    <div class="post-card-header">
                        {{ .Title }}
                    </div>
                    <div class="post-card-body">
                        <div class="post-card-date">
                            Posted on
                            {{ $dateMachine := .Date | time.Format "2006-01-02T15:04:05-07:00" }}
                            {{ $dateHuman := .Date | time.Format ":date_long" }}
                            <time datetime="{{ $dateMachine }}">{{ $dateHuman }}</time>
                        </div>

                        {{ .Summary }}
                    </div>
                    <div class="post-card-footer">
                        <div><a href="{{ .RelPermalink }}">Read more</a></div>
                    </div>
                </div>
            </div>
        {{ end }}
    </div>
{{ end }}
