{{ define "main" }}
{{ $dateMachine := .Date | time.Format "2006-01-02T15:04:05-07:00" }}
{{ $dateHuman := .Date | time.Format ":date_long" }}

    <h2>{{ .Title }}</h2>
    {{ .Content }}
    <div class="post-card-list">
        {{ range .Pages }}
            <a class="post-card" href="{{ .RelPermalink }}">
                <img src="{{ .RelPermalink }}{{ .Params.featured }}"/>
                <div class="post-card-content">
                    <div class="post-card-header">
                        {{ .Title }}
                    </div>
                    <div class="post-card-author">
                        {{ partial "components/author.html" . }}
                        <span>&#x2022;</span>
                        <span>{{ .Params.Category }}</span>
                    </div>
                    <div class="post-card-body">
                        {{ .Summary }}
                    </div>
                </div>
            </a>
        {{ end }}
    </div>
{{ end }}
