body {
  color: #222;
  font-family: sans-serif;
  line-height: 1.5;
  margin: 1rem;
  max-width: 768px;
}

header {
  border-bottom: 1px solid #222;
  margin-bottom: 1rem;
}

footer {
  border-top: 1px solid #222;
  margin-top: 1rem;
}

a {
  color: #00e;
  text-decoration: none;
}

.post-card-list {
    display: flex;
    flex-direction: column;

    gap: 1rem;
}
.post-card {
    display: flex;
    flex-direction: row;

    gap: 0.5rem;

    border: 1px solid black;
    border-radius: 10px;
}
.post-card-content {
    display: flex;
    flex-direction: column;

    gap: 0.25rem;
}
.post-card-header {
    font-size: 1.25rem;
    font-weight: bold;
}
.post-card-body {

}
.post-card-footer {

}
.post-card img {
    border: 1px solid black;
    border-top: 0px;
    border-bottom: 0px;
    border-left: 0px;
    border-radius: 10px 0px 0px 10px;

    max-width: 200px;
}