{{- $page := .page }}

<nav>
    <ul class="sidebar-menu">
        {{ range site.Menus.main }}
            {{- $attrs := "" }}
            
            {{- if $page.IsMenuCurrent .Menu . }}
                {{- $attrs = "active" }}
            {{- else if $page.HasMenuCurrent .Menu .}}
                {{- $attrs = "ancestor"}}
            {{- end }}

            <li class="sidebar-menu-item">
                <a href="{{.Page.RelPermalink}}" class="{{- $attrs -}}">
                    {{.Title}}
                </a>
            </li>
        {{end}}
    </ul>
</nav>